<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>07_事件处理</title>
</head>
<body>
<!--
1. 绑定监听:
  v-on:xxx="fun"
  @xxx="fun"
  @xxx="fun(参数)"
  默认事件形参: event
  隐含属性对象: $event
2. 事件修饰符:
  .prevent : 阻止事件的默认行为 event.preventDefault()
  .stop : 停止事件冒泡 event.stopPropagation()
3. 按键修饰符
  .keycode : 操作的是某个keycode值的健
  .enter : 操作的是enter键
-->

<div id="example">

    <ul>
        <!-- v-for 实现遍历    数组有几个数据则声成 几个li数据   key 让每一个li都有一个唯一标识 也可以使用 p,index
         确定唯一标识   <li v-for="(p.index) in persons" :key="p.index">  不使用则报错  in 可以用 of 代替
         用index 可能会出现问题 就是 导致添加的标签和文博框不对称 数据交叉错乱 对虚拟的真假 的虚拟dom 进行对比 ，不一样的
         原来放在这里 ，一样则服用
         -->

        <li v-for="p in persons" :key="p.id">
            {{p.id}}-{{p.name}}

列表筛选
        </li>

    </ul>

</div>


<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#example',
        //条件渲染
        data: {
            persons:[
                {id:1,name:'张三'},
                {id:2,name:'李四'}
            ]
        },
        methods:{
                //this.persons.unshift(对象) 意思是讲对象放到最上面

        }
    });






</script>
</body>
</html>